@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #3d3d3d;
}

/* Swiper */

.swiper-pagination-bullet.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: #37cece;
  display: inline-block;
  margin: 0 4px;
  border-radius: 999999px;
  opacity: 0.1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: #37cece;
  opacity: 1;
}

.custom-swiper .swiper-pagination {
  width: 65px !important;
  height: 12px;
  background-color: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute !important;
  bottom: 16px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 10;
}

@media (max-width: 767px) {
  .swiper-pagination-bullet.custom-bullet {
    width: 3px !important;
    height: 3px !important;
    margin: 0 2px !important;
    opacity: 0.1 !important;
  }

  .custom-bullet.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background-color: #37cece !important;
  }

  .custom-swiper .swiper-pagination {
    width: 24px !important;
    height: 6px !important;
    background-color: #fff !important;
    border-radius: 12px !important;
    bottom: 5px !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 10 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
